page-aluno {
  h2.aluno-title {
    color: black;
    font-weight: bold;
}

p.aluno-date {
    color: black;
    font-weight: bold;
    font-size: 20px;

}

.img-curso{

  margin: auto;
  display: block;

}
.msg-erro{
  color:red;
}


}





